.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
output/
.venv/
build/
sim_build/
wave.vcd
results.xml
test/__pycache__/
venv/
